# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Frontend/node_modules
Frontend/.pnp
Frontend/.pnp.*
Frontend/.yarn/*
Frontend/!.yarn/patches
Frontend/!.yarn/plugins
Frontend/!.yarn/releases
Frontend/!.yarn/versions

Backend/node_modules
Backend/.pnp
Backend/.pnp.*
Backend/.yarn/*
Backend/!.yarn/patches
Backend/!.yarn/plugins
Backend/!.yarn/releases
Backend/!.yarn/versions

# Frontend/# testing
Frontend/coverage

# Backend/# testing
Backend/coverage

# Frontend/# next.js
Frontend/.next/
Frontend/out/

# Backend/# next.js
Backend/.next/
Backend/out/

# Frontend/# production
Frontend/build

# Backend/# production
Backend/build

# Frontend/# misc
Frontend/.DS_Store
Frontend/*.pem

# Backend/# misc
Backend/.DS_Store
Backend/*.pem

# Frontend/# debug
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/.pnpm-debug.log*
Frontend/.env*

# Backend/# debug
Backend/npm-debug.log*
Backend/yarn-debug.log*
Backend/yarn-error.log*
Backend/.pnpm-debug.log*
Backend/.env*

# Frontend/# vercel
Frontend/.vercel

# Backend/# vercel
Backend/.vercel

# Frontend/# typescript
Frontend/*.tsbuildinfo
Frontend/next-env.d.ts

# Backend/# typescript
Backend/*.tsbuildinfo
Backend/next-env.d.ts
